<div class="container">
  <div class="container_candidatos">
    <div class="container_nomes">
      <div class="container_editais">
        <select [(ngModel)]="editalSelecionado" class="select">
          <option value="" class="options">-- Escolha um edital --</option>
          <option *ngFor="let edital of editais" [ngValue]="edital" class="options">
            {{ edital.titulo }}
          </option>
        </select>
      </div>

      <div class="container_candidatos-nomes" *ngIf="editalSelecionado">
        <ul class="lista_candidatos">
          <li *ngFor="let candidato of editalSelecionado.candidatos" class="item_candidato">
            {{ candidato.nome }}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container_dados">
    <div class="top">
      <div class="container_infos-pessoais">infos pessoais</div>
      <div class="top-right">
        <div class="container_motivo">motivo</div>
        <div class="container_pontuacao">pontuação corrigida</div>
      </div>
    </div>

    <div class="bottom">
      <div class="container_documentos">documentos</div>
    </div>
  </div>
</div>
