<div class="container">
  <div class="container_candidatos">
    <div class="container_nomes">
      <div class="container_candidatos-nomes">
        <ul class="lista_candidatos">
          <!-- Adicione (click) para selecionar o candidato e [class.active] para destacar -->
          <li 
            *ngFor="let candidato of editalSelecionado.candidatos" 
            class="item_candidato"
            (click)="selecionarCandidato(candidato)"
            [class.active]="candidato === candidatoSelecionado">
            {{ candidato.nome }}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container_right">
    <div class="edital">
      <h1>Edital {{ editalSelecionado.numeroEdital }}</h1>
    </div>
    <div class="container_border">

      <!-- Exibe apenas o candidato selecionado -->
      <div class="container_dados" *ngIf="candidatoSelecionado">
        <h2 class="nome">Nome: {{candidatoSelecionado.nome}}</h2>
        <h2 class="outros_dados">RG: {{candidatoSelecionado.rg}}</h2>
        <h2 class="outros_dados">CPF: {{candidatoSelecionado.cpf}}</h2>
      </div>

      <div class="container_documentos">
        <h2>Documentos Anexados:</h2>
        <div class="docs-container">
          <div class="doc" *ngFor="let documento of candidatoSelecionado?.documentos">
            <a href="#">{{ documento }}</a>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>