<div class="container">

    <div class="container_abrir_edital">

        <div class="container_form">
            <div class="container_itens_titulo">
                <label class="label_edital">Título do Edital</label>
                <input class="input_edital" type="text" [(ngModel)]="editalSolicitado.titulo">
            </div> 
            <div class="container_itens">
                <label class="label_edital">Disciplina</label>
                <input class="input_edital" type="text" [(ngModel)]="editalSolicitado.disciplina">
            </div>
            <div class="container_itens">
                <label class="label_edital">Número do Edital</label>
                <input class="input_edital" type="text" [(ngModel)]="editalSolicitado.numeroEdital">
            </div>
            <div class="container_itens">
                <label class="label_edital">Ano</label>
                <input class="input_edital" type="number" [(ngModel)]="editalSolicitado.ano">
            </div>

            <div class="container_btn">
                <button class="btn_cadastrar">Cadastrar</button>
            </div>
            
        </div>

    </div>

</div>