<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Você está logado!</title>
</head>
<body>
    <h1>Parabéns! Você está logado!</h1>
    <br>
    <a id='fRQe9o5SSTBrWZMHxv8lDA' class='gie-single' href='http://www.gettyimages.com/detail/882495390' target='_blank' style='color:#a7a7a7;text-decoration:none;font-weight:normal !important;border:none;display:inline-block;'>Embed from Getty Images</a>
    <script>window.gie=window.gie||function(c){(gie.q=gie.q||[]).push(c)};gie(function(){gie.widgets.load({id:'fRQe9o5SSTBrWZMHxv8lDA',sig:'R-GNaPkFyHAwsNWZXEGV2KKZHgV9eomie8NrKl7RKJs=',w:'509px',h:'339px',items:'882495390',caption: true ,tld:'com',is360: false })});</script>
    <script src='//embed-cdn.gettyimages.com/widgets.js' charset='utf-8' async>
    </script>
    <br>
    <a href="../">Voltar para página inicial</a> <br>

</body>
</html>